<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">

        <h2 class="title is-2">Change your password</h2>

        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="field">
          <div class="control">
            <%= f.input :assword, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: {class: "label"}, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.input :assword_confirmation, required: true, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: {class: "label"}, label: "Confirm your new password" %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.button :submit, "Change my password", class: "button is-info is-medium" %>
          </div>
        </div><br />
        <% end %>

        <div class="field">
          <div class="control">
            <%= render "devise/shared/links" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>